/* GLOBAL STYLES */
HTML {
  background: rgb(46, 88, 126);
}

body {
  background: #fff;
  border: 10px solid rgb(46, 88, 126);
}
.flexible-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexible-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.responsive {
  display: block;
}

.column-3 {
  margin: 2%;
  width: 30%;
}

section {
  width: 100%;
}

h1 {
  font-size: 1.5em;
}

h1, h2, h3 {
  /*color: #2e587e;*/
  /*color: #c07d26;*/
  color: #ff5050;
  font-family: 'Crushed', cursive;
  text-shadow: 1px 1px black;
}

h4, h5, h6, p, label {
font-family: 'Lato', sans-serif;
}

p {
  font-size: .75em;
  margin: 2%;
}

svg {
  color: #ff5050;
}

/* INTRO SECTION */

#intro {
  background: url('background-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5%;
}

#intro p {
  font-size: .75em;
  margin: 2%;
  text-align: center;
}

#logo {
  line-height: 0;
  margin-top: 5%;
  margin-bottom: .5%;
}

#event-time {
  margin-left: 8px;
}

/* KEY POINTS */

#key-points p {
  text-align: center;
}

/* CLOCK */

#countdown {
  background: rgb(46, 88, 126);
  /*background: rgba(255, 204, 204, .5);*/
}

/* DETAILS AND SIGNUP SECTION */

#event-details h1 {
  margin-left: 2%;
}

#form-area {
  background: rgba(46, 88, 126, .3);
  margin: 2%;
  padding: 2%;
}

input {
  height: 25px;
  margin: 2% 0;
  width: 98%;
}

.asterisk {
  color: #ff5050;
}

.asterisk, .indicates-required {
  font-family: 'Lato', sans-serif;
}
.indicates-required {
  text-align: right;
}

.button {
  background: #ff5050;
  border: 4px outset #ff5050;
  font-family: 'Lato', sans-serif;
  width: 30%;
}

/* HOST SECTION */

.host-img {
  border-radius: 50%;
}

.host-img img {
  background: rgba(46, 88, 126, .3);
  border: 4px solid rgb(46, 88, 126);
  border-radius: 50%;
  padding: 1%;
  margin-left: 10%;
  width: 80%;
}

#host-info p {
  margin: 2%;
}

.host h3, .host p {
  text-align: center;
}

/* FOOTER */

footer {
  background: rgb(46, 88, 126);
  color: #ff5050;
  padding-top: 2%;
}

/* RESPONSIVE STYLES */

@media all and (min-width: 400px) {
  p {
    font-size: .9em;
  }
}

@media all and (min-width: 768px){

  .responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .column-2 {
    margin: 5%;
    width: 35%;
  }

  .column-3 {
    margin: 2%;
    width: 20%;
  }

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  #intro {
    background: url('background-full.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  #intro p {
    font-size: 1em;
  }

  .button {
    width: 40%;
  }

}
